/* Configuração da página */

body {

    font-family: Arial, sans-serif;

    margin: 0;

    background-color: #f74141;

    color: #333;

}


/* Cabeçalho */

header {

    background-color: #77000098;

    color: white;

    padding: 20px;

    text-align: center;

}


/* Menu */

nav a {

    color: white;

    text-decoration: none;

    margin: 10px;

}

nav a:hover {

    text-decoration: underline;

}


/* Seções */

section {

    background-color: white;

    margin: 20px auto;

    padding: 40px;

    max-width: 900px;

    border-radius: 10px;

}


/* Títulos */

h2 {

    color: #2563eb;

}


/* Produtos */

.produto {

    background-color: #eeeeee;

    padding: 20px;

    margin: 15px 0;

    border-radius: 8px;

}


/* Serviços */

.servico {

    background-color: #eeeeee;

    padding: 20px;

    margin: 15px 0;

    border-radius: 8px;

}


/* Botões */

button,
.botao {

    background-color: #9b0404d8;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;

    text-decoration: none;

}

button:hover,
.botao:hover {

    background-color: #c90a0a9f;

}


/* Formulário */

form {

    display: flex;

    flex-direction: column;

}


label {

    margin-top: 10px;

    margin-bottom: 5px;

}


input,
textarea {

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;

    margin-bottom: 10px;

}


textarea {

    height: 100px;

}


/* Rodapé */

footer {

    background-color: #222;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 30px;

}
